@using BookShop.Shared.Entities
@page "/MonthlyReport"
<AuthorizeView>
    <Authorized>
        @if (context.User.IsInRole(ConstSettings.AdminRole))
        {

            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="website icon" type="png" href="../Assets/spellbook.png">
                <title> BookNook </title>
                <link rel="stylesheet" href="/css/report.css">
            </head>
            <body>
                <h1>
                    Your monthly sales report
                </h1>
                <table>
                    <tr>
                        <th>
                            <h4>Book</h4>
                        </th>
                        <th>
                            <h4>Quantity</h4>
                        </th>
                        <th>
                            <h4>date</h4>
                        </th>
                        <th>
                            <h4>transaction</h4>
                        </th>
                        <th>
                            <h4>Price</h4>
                        </th>
                    </tr>
                    @foreach (var soldBook in SoldBooks)
                    {
                        <tr>
                            <td>
                                @soldBook.Book.Title
                            </td>
                            <td>
                                @if (soldBook.BookStatus == BookStatus.Borrowed)
                                {
                                    @(soldBook.Quantity.ToString() + " Day")
                                }
                                else
                                {
                                    @(soldBook.Quantity)
                                }

                            </td>
                            <td>
                                @DateTime.Now.Date.ToShortDateString()
                            </td>
                            <td>
                                @soldBook.BookStatus
                            </td>
                            <td>
                                @soldBook.Profit
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4">
                            Total Profit:
                        </td>
                        <td>
                            @TotalPrifit L.E
                        </td>
                    </tr>
                </table>
            </body>
        </html>
        }
        else
        {
            NavManager.NavigateTo("/");
        }
</Authorized>
<NotAuthorized>
    <Entry />
</NotAuthorized>
</AuthorizeView>
<!DOCTYPE html>
