@page "/Preview/{BookId}"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/Assets/spellbook.png">
    <title>BookNook</title>
    <link rel="stylesheet" href="/css/BookPreview.css">

</head>
<body>
    <div class="container-fluid">
        <nav class="navv">
            <div id="marquee">
                <a id="logo" class="navbar-brand logo" href="#"><img src="/Assets/spellbook.png" width="70px" height="60px" alt=""></a>
                <marquee scrollamount="5"> <a href="#" class="logo">BookNook</a></marquee>
            </div>


            <div class="icons-1">
                <a href="../admin/add.html"><img src="../Assets/edit.png" width="32px" height="32px" class="icon"></a>
                <a href="../borrowed/borow.html"><img src="../Assets/borrow.png" width="32px" height="32px" class="icon"></a>
                <a href="../admin/add.html"><img src="../Assets/book.png" width="32px" height="32px" class="icon"></a>
                <a href="./Cart"><img src="../Assets/shopping-cart (1).png" width="32px" height="32px" class="icon"></a>
                <a href="../profile/profile.html"><img src="../Assets/profile (1).png" width="32px" height="32px" class="icon"></a>
            </div>


        </nav>

    </div>
    <div class="container">
        @if (BookInCart is not null)
        {
            <div class="BookInChart-container">
                <div class="BookInChart-details">
                    <img src="@BookInCart.Img" class="imgg im-hov">
                </div>

                <div class="info">
                    <p><b>Book Name :</b> @BookInCart.Title</p>
                    <p> <b>Author : </b> @BookInCart.Author?.Name</p>
                    <p><b>Category : </b>@BookInCart.Category </p>
                    <p> <b>Book Pages:  </b> @BookInCart.pagesNumber</p>

                    <p class="summary">
                        <b>Summery:  </b>
                        <pre>@BookInCart.Description
                               </pre>
                    </p>

                    <p>
                        <b>Price : </b>@BookInCart.Price
                    </p>

                </div>
            </div>

        }


        <div class="container mt-5 buttons">
            <button id="btn-1" class="btn buy me-3" @onclick="()=>ShowBuyForm()">BUY</button>
            
            <button id="btn-2" class="btn borrow" @onclick="()=>ShowBorrowForm()">Borrow</button>
        </div>
        <div id="form-container"></div>

    </div>

    @if (isShowBuyForm)
    {
       <EditForm Model="BookInCart" OnValidSubmit="AddToCart" id="form-1">
            <div class="mb-3">
                <label for="name1" class="form-label">Number of copies:</label>
                <input type="number" class="form-control" id="name1" required>
            </div>
            <div class="mb-3">
                <pre>Price:   @BookInCart.Price</pre>
            </div>
            <div class="mb-3">
                <pre>Shipping:   30 L.E</pre>
            </div>
            <div class="mb-3">
                <pre>Total:   250 L.E</pre>
            </div>
            <button type="submit" class="btn btn-primary btn-1" >Add to cart</button>
        </EditForm>
    }
    @if (isShowBorrowForm)
    {
        <EditForm Model="BookInCart" OnValidSubmit="AddToCart" id="form-2">
            <div class="mb-3">
                <label for="name2" class="form-label">Number of days:</label>
                <input type="number" class="form-control" id="name2" required>
            </div>
            <div class="mb-3">
                <pre>Price:   30L.E</pre>
            </div>
            <button type="submit" class="btn btn-primary btn-1">Add to cart</button>
        </EditForm>
    }
    <!-- -Footer Section--->
    <footer class="Fot">
        <!--Top-->
        <div class="top-fot">
            <div class="container content1">
                <div class="row">
                    <div class="col-11">
                        <a href="../home/home.html">BookNook ></a><span>home</span>
                    </div>
                </div>
            </div>
        </div>
        <!--Top end-->
        <!--Mid-->
        <div class="mid-fot">
            <div class="container content2">
                <div class="row">
                    <div class="col-3">
                        <ul>
                            <li>
                                <h5>CONTACT US</h5>
                            </li>
                            <li><a href="#">Customer Service</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul>
                            <li>
                                <h5>Registeration</h5>
                            </li>
                            <li><a href="../registeration/signup.html">Signup</a></li>
                            <li><a href="../registeration/login.html">Login</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul>
                            <li>
                                <h5>about me</h5>
                            </li>
                            <li><a href="../profile/profile.html"> profile </a></li>
                            <li><a href="../SW_book_Proj/cart.html">cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--mid end-->
        <!--bot-->
        <div class="fot-bot">
            <div class="container">
                <pre class="my-sig">Copyright @@2024 All rights reserved | This template is made by GPT team </pre>
            </div>
        </div>
    </footer>
    <script src="book.js"></script>

</body>
</html>

