@page "/Preview/{BookId}"
@using BookShop.Shared.Entities


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../Assets/spellbook.png">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>BookNook</title>
    <link rel="stylesheet" href="/css/bookk.css">

</head>

<body>
    <header class="navv d-flex justify-content-between align-items-center pt-3 pb-3 w-100">
        <div class="d-flex gap-2 align-items-center ms-lg-5 ms-md-4 ms-sm-3 ms-2">
            <a id="logo" class="navbar-brand logo" href="#">
                <img src="../Assets/spellbook.png" height="60px" alt="">
            </a>
            <div id="marquee">
                <marquee scrollamount="5">
                    <a href="./" class="logo">BookNook</a>
                </marquee>
            </div>
        </div>


        <div class="icons-1" id="navbarNavDropdown">
            <ul class="text-decoration-none mb-0 d-flex gap-lg-2 gap-md-1 gap-0 list-unstyled align-items-center">
                <AuthorizeView>
                    @if (context.User.IsInRole(ConstSettings.AdminRole))
                    {
                        <li>
                            <a href="@($"./AddBook/{BookInCart?.Id}")">
                                <img src="../Assets/edit.png" width="32px" height="32px" class="icon">
                            </a>
                        </li>
                        <li>
                            <a href="./AddBook" class="deleteable-icon">
                                <img src="../Assets/book.png" width="32px" height="32px" class="icon">
                            </a>
                        </li>
                    }
                </AuthorizeView>

                <li>
                    <a href="./Cart">
                        <img src="../Assets/shopping-cart (1).png" width="32px" height="32px" class="icon">
                    </a>
                </li>
                <li>
                    <a href="./Account/Manage">
                        <img src="../Assets/profile (1).png" width="32px" height="32px" class="icon">
                    </a>
                </li>

            </ul>
        </div>
    </header>
    @if (BookInCart is not null)
    {
        <div class="mt-5 w-100">
            <div class="cont d-flex w-100 gap-5 justify-content-center">
                <div class="book-details w-25">
                    <img src="@BookInCart.Img" class="imgg im-hov w-100">
                </div>
                <div class="info w-50">
                    <table class="table table-borderless text-start">
                        <tbody>
                            <tr>
                                <th scope="row" class="bg-transparent">Book Name :</th>
                                <td class="bg-transparent">@BookInCart.Title</td>
                            </tr>
                            <tr>
                                <th scope="row" class="bg-transparent">Author :</th>
                                <td class="bg-transparent"> @BookInCart?.Author?.Name</td>
                            </tr>
                            <tr>
                                <th scope="row" class="bg-transparent">Category : </th>
                                <td class="bg-transparent"> @BookInCart?.Category </td>
                            </tr>
                            <tr>
                                <th scope="row" class="bg-transparent">Book Pages:</th>
                                <td class="bg-transparent">@BookInCart?.pagesNumber</td>
                            </tr> 
                            <tr>
                                <th scope="row" class="bg-transparent">Summery:</th>
                                <td class="bg-transparent">
                                    <pre class="text-start " style="direction: rtl;white-space: pre-wrap;width: fit-content;"> @BookInCart.Description</pre>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="bg-transparent">Price : </th>
                                <td class="bg-transparent">@BookInCart.Price L.E</td>
                            </tr>
                            <tr>
                                <th scope="row" class="bg-transparent">Available Copies:</th>
                                <td class="bg-transparent">@BookInCart?.AvailableQuantity</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="container mt-5 buttons gap-3">
                <button id="btn-1" class="btn buy" @onclick="()=>ShowBuyForm()">BUY</button>
                <button id="btn-2" class="btn borrow" @onclick="()=>ShowBorrowForm()">Borrow</button>
            </div>

            <div id="form-container" class="m-auto ">
                @if (isShowBuyForm)
                {
                    BookInCart.BookStatus = BookStatus.Bought;

                    <StatusMessage @ref="_StatusMessage" />
                    <EditForm Model="BookInCart" OnValidSubmit="AddToCart" id="form-1" class=" w-75 m-auto d-flex flex-column align-items-center justify-content-center">
                        <div class="mb-3">
                            <label for="name1" class="form-label">Number of copies:</label>
                            <InputNumber @bind-Value="BookInCart.SoldQuantity" class="form-control bg-transparent" id="name2" required min="1" />
                        </div>
                        <div class="mb-3">
                            <pre>Price:   @BookInCart.Price</pre>
                        </div>
                        <div class="mb-3">
                            <pre>Shipping:   30 L.E</pre>
                        </div>
                        <div class="mb-3">
                            <pre>Total:   @BookInCart.TotalPrice L.E</pre>
                        </div>

                        <button type="submit" class="btn-sm borrow mb-3">Add to cart</button>
                    </EditForm>
                }

                @if (isShowBorrowForm)
                {
                    BookInCart.BookStatus = BookStatus.Borrowed;

                    <StatusMessage @ref="_StatusMessage" />
                    <EditForm Model="BookInCart" OnValidSubmit="AddToCart" id="form-2" class=" w-75 m-auto d-flex flex-column align-items-center justify-content-center">
                        <div class="mb-3">
                            <label for="name2" class="form-label">Number of days:</label>
                            <InputNumber @bind-Value="BookInCart.BorrowedPeriod" class="form-control bg-transparent" id="name2" required min="1" />
                        </div>
                        <div class="mb-3">
                            <pre>Price:   @BookInCart.TotalPrice L.E</pre>
                        </div>
                        <button type="submit" class="btn-sm borrow mb-3">Add to cart</button>
                    </EditForm>

                }
            </div>

        </div>
    }

    <!-- -Footer Section--->

    <footer class="Fot">
        <!--Top-->
        <div class="top-fot">
            <div class="container content1">
                <div class="row">
                    <div class="col-11">
                        <a href="./">BookNook ></a><span>home</span>
                    </div>
                </div>
            </div>
        </div>
        <!--Top end-->
        <!--Mid-->
        <div class="mid-fot d-flex justify-content-center">
            <div class="d-flex justify-content-center pt-4 gap-lg-5 gap-md-5 gap-sm-4 gap-3 flex-column flex-xl-row flex-xxl-row flex-lg-row flex-md-row">
                <div>
                    <ul class="ps-0">
                        <li>
                            <h5>CONTACT US</h5>
                        </li>
                        <li><a href="#">Customer Service</a></li>
                    </ul>
                </div>
                <div class="">
                    <ul class="ps-0">
                        <li>
                            <h5>Registeration</h5>
                        </li>
                        <li><a href="./Account/Register">Signup</a></li>
                        <li><a href="./Account/Login">Login</a></li>
                    </ul>
                </div>
                <div class="">
                    <ul class="ps-0">
                        <li>
                            <h5>about me</h5>
                        </li>
                        <li><a href="./Account/Manage"> profile </a></li>
                        <li><a href="./Cart">cart</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--mid end-->
        <!--bot-->
        <div class="fot-bot">
            <div class="container">
                <pre class="my-sig">Copyright @@2024 All rights reserved | This template is made by GPT team </pre>
            </div>
        </div>
    </footer>
    <script src="book.js"></script>

</body>

</html>